.container{
align-items: center;
display: flex;
justify-content: center;
}

.mat-card{
    width: 100%;
    border: groove;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
}
.mat-form-field{
    width: 100%;
}
.example-container .mat-form-field + .mat-form-field {
   width: 100%;
  }


  .button{
      background-color: blue;
  }